.login-box {
	min-width: 36%;
	padding: 44px 36px 16px 36px;
	border: 1px solid #ccc;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.login-box-bg-img {
	background-position: 0px 0px;
	background-size: 176px 264px;
	width: 174px;
	height: 50px;
	margin-bottom: 40px;
	background-image: url("../assets/login/login-box-title.png");
	background-repeat: no-repeat;
	display: inline-block;
}

.login-inputs {
	width: 100%;
	gap: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.login-inputs input {
	width: 100%;
	height: 34px;
	border-radius: 3px;
	padding: 0 10px;
	font-size: 14px;
	border: 1px solid #ccc;
	background-color: #fafafa;
}

.login-inputs input:focus {
	outline: none;
	border: 1px solid #999;
}

.login-inputs input::placeholder {
	color: #999;
}

.login-inputs button {
	width: 100%;
	border-radius: 10px;
	padding: 6px 10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 700;
	border: none;
	background-color: #4cb5f9;
	color: #fff;
}

.login-inputs button:hover {
	background-color: #3a9ce0;
}

.login-inputs input:last-of-type {
	margin-bottom: 10px;
}

.dividers {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dividers hr {
	width: 40%;
	height: 1px;
	background-color: #ccc;
	border: none;
}

.dividers span {
	font-size: 14px;
	color: #999;
}

.login-with-facebook {
	width: 100%;
	border-radius: 10px;
	margin: 10px 0;
	text-align: center;
}

.login-with-facebook-btn {
	width: 100%;
	border-radius: 10px;
	padding: 6px 10px;
	font-size: 16px;
	font-weight: 700;
	gap: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	text-align: center;
	cursor: pointer;
	color: #3b5998;
	background-color: #fff;
}

.facebook-logo {
	width: 25px;
	height: 25px;
}

.forgot-password a {
	text-decoration: none;
	color: #000;
	font-weight: 400;
	font-size: 12px;
}
